@using ReservationSystem.Data.Models
@using ReservationSystem.Data.Services

@page "/event/{Id:int}"
@inject EventService _eventService
@inject NavigationManager _navigation

<h3>@_event.Name</h3>

<h4 class="mt-3">Seznam hledišť</h4>
<div class="container d-flex align-items-start flex-wrap mt-3">

    @foreach (var auditorium in _event.Auditoriums)
    {
        <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title">@auditorium.Name</h5>
                <p class="card-text">Kapacita: @CalculateAuditoriumSize(auditorium)</p>
                <button @onclick="(e) => { NavigateToAuditorium(auditorium); }" class="btn btn-primary">Vybrat místa</button>
            </div>
        </div>
    }
</div>
<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="contianer mt-5">
            <button class="btn btn-warning" @onclick="(e) => { NavigateToAddAuditorium(); }">Přidat hlediště</button>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    private Event _event;
    
    protected override void OnInitialized()
    {
        _event = _eventService.GetEventById(Id);
    }

    string CalculateAuditoriumSize(Auditorium auditorium)
    {
        string result = (auditorium.Rows * auditorium.SeatsInRow).ToString();
        return result;
    }

    EventCallback NavigateToAuditorium(Auditorium auditorium)
    {
        _navigation.NavigateTo($"/event/{Id}/auditorium/{auditorium.Id}");
        return new EventCallback();
    }

    EventCallback NavigateToAddAuditorium()
    {
        _navigation.NavigateTo($"/admin/event/{_event.Id}/addAuditorium");
        return new EventCallback();
    }
}