@page "/reservation/error"

<h3 style="color: red;">Chyba rezervace</h3>
<p style="color: red;">Omlouváme se, ale místa které jste si zabrali jsou už bohužel nedostupná. Zkuste to prosím znovu.</p>

@code {
    
}